@use "../main.scss" as *;

// block of code i might use
// .carousel-item {
//     width: 100vw;
//     height: auto;
//     object-fit: contain;
//     max-height: 100vh;
//   }

.carousel-caption{
    top:40%;
    h1{
        color: #ffffffb3;
        font-size: 3rem;
    }
}

button {
    display: none;
}
