@use "../main.scss" as *;

.navbar {
  position: fixed;
  z-index: 1000;
  width: 100%
}

img {
  width: 10rem;
}

.nav-link{
  color: #000 !important;
  font-family: $font;
  font-weight: 700;
  
}

.btn {
  background: #ff473e;
  border: none;
  border-radius: 1rem;
  color: #000000;
  &:hover{
    background-color: #000;
    color: #fff;
  }
}
