@use "../main.scss" as *;

img {
  width: 10rem;
}

.ms-auto{
  color: #000 !important;
  font-family: $font;
  font-weight: 700;
}

.btn {
  background: #ff473e;
  border: none;
  border-radius: 1rem;
  color: #000000;
}
